<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    p{
        background: pink;
        display: inline;
    }
    </style>
</head>
<body>
<h1>Welcome</h1>
<br>
<p>The web is developing...</p>
<br><br>
<p>/user/login</p>
<br>
<p>/user/info</p>
<br>
<a href="/user/login">login</a>
<p></p>
<a href="/user/info">info</a>
<p></p>
<br>
<a href="/user/info"><button>info</button></a>
<br>
<p>友情链接：</p><a href="https://www.google.com"><button>google</button></a>
</body>
</html>